.DS_Store
.mvn/
mvnw
mvnw.cmd

HELP.md
/target/
/samples/
!.mvn/wrapper/maven-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
build
.springBeans
.gradle
bin

.vscode/
*.txt
node_modules/
.DS_Store
.history
dist
