body {
  margin: 0px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #111111
}

ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

li {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  padding: 10px;
}

button:focus {
  outline: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #111111;
    text-decoration: none;
    font-weight: normal;
}

.menu {
  background-color: #F6F6F6;
  box-shadow: 5px 5px 5px #EEEEEE;
}

.text-center {
  text-align: center;
}

.home-container {
  padding: 10px;
}
